#DB
DB_URL=sqlite+aiosqlite:///../local.sqlite3
API_BASE_URL=http://localhost:8000
APP_BASE_URL=http://localhost:5173
APP_TIMEZONE=Asia/Seoul

# AWS Bucket
LOCAL_UPLOAD_DIR=uploads
MAX_UPLOAD_SIZE_MB=20
#STABLE_DIFFUSION_MODEL_PATH=../../ai_models/prefectPonyXL_v6.safetensors
STABLE_DIFFUSION_MODEL_PATH=../../ai_models/JANKUTrainedChenkinNoobai_v777.safetensors
SCENE_EMBEDDING_MODEL_NAME=intfloat/multilingual-e5-large
